.grid-container {
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 40% auto;
}
.item-grid-container {
    display: grid;
    grid-template-columns: 30% 35% auto ;
    grid-template-rows: auto;
    place-items: center;
}
.grid-item {
    text-align: center;
    padding: 20px;
    font-size: 1vw;
    border-radius: 5px;
    border: 1px white solid;
    margin: 10px;
}
.header {
    grid-column: 1 / span 2;
    grid-row: 1;
    font-size: 1.3vw;
}
.form {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: auto;
    place-content: center;
}
.main input {
    background-color: lightgrey;
    border-radius: 5px;
    border-style: none;
    width: 5vw;
}
.right input {
    background-color: lightgrey;
    border-radius: 5px;
    border-style: none;
    width: 7.5vw;
}
.button {
    grid-column: 1 / span 2;
}
.hidden {
    display: none;
}
.main {
    grid-column: 1;
    grid-row: 2;
}
.right {
    grid-column: 2;
    grid-row: 2;
}
.item1 {
    grid-column: 1;
    grid-row: 2;
}
.item2 {
    grid-column: 2;
    grid-row: 2;
}
.item3 {
    grid-column: 3;
    grid-row: 2;
}
.item4 {
    grid-column: 1;
    grid-row: 3;
}
.item5 {
    grid-column: 2;
    grid-row: 3;
}
.item6 {
    grid-column: 3;
    grid-row: 3;
}
.footer {
    grid-column: 1 / span 2;
    grid-row: 3;
    font-size: 1vw;
}
#shipDetails {
    margin: 0 25% 0 25%;
    width: 50%;
    border: 1px white ridge;
    border-radius: 5px;
}
#shipDetails img {
    border: none;
    max-height: 1.7vw;
    float: right;
}
img {
    border: 1px solid black;
    aspect-ratio: 1/1;
    max-width: 9vw;
    max-height: 9vw;
}
.errorForm {
    color: red;
    font-size: 0.75vw;
}

@media (max-width: 900px) {
    .grid-container {
        display: grid;
        gap: 10px;
        padding: 10px;
        grid-template-columns: auto;
    }
    .item-grid-container {
        display: grid;
        grid-template-columns: 40% auto 25% ;
        grid-template-rows: auto;
        place-items: center;
    }
    .grid-item {
        text-align: center;
        padding: 20px;
        font-size: 4vw;
        border-radius: 5px;
        border: 1px white solid;
        margin: 10px;
    }
    .header {
        grid-column: 1;
        grid-row: 1;
        font-size: 5vw;
    }
    .main {
        grid-column: 1;
        grid-row: 2;
    }
    .right {
        grid-column: 1;
        grid-row: 3;
    }
    .form {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        place-content: center;
    }
    .button {
        grid-column: 1;
    }
    .footer {
        grid-column: 1;
        grid-row: 4;
    }
    .main input {
        background-color: lightgrey;
        border-radius: 5px;
        border-style: none;
        width: 9vw;
    }
    .right input {
        background-color: lightgrey;
        border-radius: 5px;
        border-style: none;
        width: 100%;
    }
    #shipDetails {
        margin: 0;
        width: 100%;
        border: 1px white ridge;
        border-radius: 5px;
    }
    #shipDetails img {
        border: none;
        max-height: 4.5vw;
        float: right;
    }
    img {
        border: 1px solid black;
        aspect-ratio: 1/1;
        max-width: 20vw;
    }
    .errorForm {
        color: red;
        font-size: 4vw;
    }
}