html {
    background: #343333;
}

ul.flexnav {
    font-size: 1vw;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4vw;
}

a {
    text-decoration: underline;
    color: black;
}

#contactinfo {
    font-size: 12px;
}